<h1>About Us</h1>

<p>We are a team of developers passionate about live streaming and enabling other developers to build dynamic, immersive experiences based on Red5. We were the first to reverse engineer the RTMP protocol and open it up to the public, and we are constantly looking for new and innovative ways to improve our offering.</p>

<p>If you feel you can contribute to our team, we would love to hear from you! Just send Dominick an email at dominick (at) red5.org with your interests and qualifications.<p>

<p>Below is a list of our current and past team members and a brief description of their responsibilities.</p>

<p>
  Paul Gregoire &mdash; mondain (Owner)
  <ul>
    <li>Design new features, write code and unit tests</li>
    <li>Package releases from release branches</li>
    <li>Have fun hacking and learning new stuff!</li>
    <li>Triage new issues and support requests from end-users</li>
  </ul>
</p>

<p>
  Dominick Accattato &mdash; daccattato (Owner)
  <ul>
    <li>Lead by providing a project vision and roadmap</li>
    <li>Plan the scope of release milestones and track progress</li>
    <li>Design core libraries, write code and unit tests</li>
    <li>Design new features, write code and unit tests</li>
    <li>Document our development process and help new members</li>
    <li>Write end-user documentation and examples</li>
  </ul>
</p>

<p>
  Chris Allen &mdash; mrchrisallen (Owner)
  <ul>
    <li>Lead by providing a project vision and roadmap</li>
  </ul>
</p>

<p>
  Tiago Jacobs &mdash; tiago.jacobs (Owner)
  <ul>
    <li>Design new features, write code and unit tests</li>
    <li>Review code for security and scalability</li>
    <li>Translate UI text and documentation to new locales</li>
  </ul>
</p>

<p>
  Dan Rossi &mdash; electroteque (Committer)
  <ul>
    <li>Write end-user documentation and examples</li>
    <li>Review code for security and scalability</li>
    <li>Define database schemas and persistence layers</li>
  </ul>
</p>

<p>
  Maxim Solodovnik &mdash; solomax (Committer)
  <ul>
    <li>Set up and maintain builds on Apache</li>
    <li>Write code, new patches</li>
    <li>Lead WebRTC initiative</li>
  </ul>
</p>

<p>
  Rajdeep Rath &mdash; rajdeeprath (Contributor)
  <ul>
    <li>Provide Community Support</li>
    <li>Lead responses on Mailing List</li>
    <li>Create Example Apps</li>
  </ul>
</p>

<p>
  Non-Active
  <ul>
    <li>joachim.bauch (Committer)</li>
    <li>steven.gong (Committer)</li>
    <li>carlsz (Contributor)</li>
    <li>davi.fol (Contributor)</li>
    <li>worldofpaper (Contributor)</li>
    <li>crtmpserver (Contributor)</li>
    <li>mabrek (Contributor)</li>
    <li>thijs.triemstra (Contributor)</li>
    <li>king.selassie (Contributor)</li>
  </ul>
</p>

<p>
  neoriley (Contributor)
  <ul>
    <li>Lead by providing a project vision and roadmap</li>
  </ul>
</p>
