<h1>Consulting</h1>

<p>Looking for help building custom solutions with Red5? Our team offers consulting and work for hire through two of our companies.</p>

<h2 class="reduced-space-after"><a href="http://infrared5.com" target="_blank" rel="external">Infrared5</a></h2>
<p>Infrared5 provides real-time, live streaming solutions and custom development to enable new experiences for their customers through the open source Red5 media server and Red5 Pro.</p>

<h2 class="reduced-space-after"><a href="http://international.imdt.com.br/" target="_blank" rel="external">iMDT</a></h2>
<p>A group of people passionate about the Internet and its world without borders. We want to help solve your problem, using our knowledge and creativity. Smart Business attracts Smart Customers.</p>
