<p>Red5 is an open source media server for live streaming solutions of all kinds. It is designed to be flexible with a simple plugin architecture that allows for customization of virtually any VOD and live streaming scenario. Red5 has been and is being used by thousands of companies from Amazon to Facebook.</p>

<p>First created in 2005 by a team of developers that reversed RTMP as an alternative to the Flash Communication Server, Red5 is now used for live streaming beyond Flash including HLS, WebSockets, and RTSP. As part of the Google Summer of Code, the Red5 team is currently building support for WebRTC to enable streaming in the browser without a plugin.</p>

<p>Red5 Pro, our paid, licensed version of Red5 with SDKs for mobile (Android and iOS) and high scalability clustering is available at <a href="http://red5pro.com" target="_blank" rel="external">http://red5pro.com</a>.</p>

<p>By utilizing the Red5 Media Server, you are developing with a truly open and extensible platform that can be used in Video Conferences, Multi-User Gaming and Enterprise Application Software.</p>
