<h1>Mailing Lists</h1>

<p><strong>Mailing Lists</strong></p>

<p>Communication, discussion and decision making within the Red5 project is primarily done through mailing lists.</p>

<hr>

<h2 id="Users">Users{{!-- <a title="Link to this section" href="http://trac.red5.org/wiki/MailingLists#Users"></a> --}}</h2>

<p>The main mailing list for the Red5 community. Subscribe to this list if you’re new, need help, or want to know more about Red5.</p>

<p><a href="http://groups.google.com/group/red5interest" target="_blank" rel="external">Subscribe</a>{{!--  <a href="http://osflash.org/pipermail/red5_osflash.org">Archives (before 20091117)</a> --}}</p>
