<h1>Support</h1>

<p><strong><a href="#http://www.red5.org/downloads/docs/red5-reference-1.0.pdf" rel="external">Documentation</a></strong></p>
<p>Reference Manual</p>
<p><strong><a href="#http://www.red5.org/forums/forums.php" rel="external">Forums</a></strong></p>
<p>Common Questions, &nbsp;discussions, tutorials.</p>
<p><strong><a href="#http://www.red5.org/mailing-lists/" rel="external">Mailing Lists</a></strong></p>
<p>Communication, discussion and decision making within the Red5 project is primarily done through mailing lists.</p>
<p><strong>Professional Services</strong></p>
<div>
<div>For commercial support, customization, integration, and additional features beyond the open source project please contact:</div>
<div>
<br><br>
<a href="http://www.infrared5.com/" rel="external"><img class="alignnone" src="/web/20141126154627im_/http://www.infrared5.com/assets/desktop-header-logo-hd.png" alt="" width="164" height="52"></a></div>
<div>Infrared5 is a Boston based interactive studio that specializes in Red5 application development.</div>
<div>Learn More (<a href="www.infrared5.com" target="_blank" rel="external">www.infrared5.com</a>)</div>
</div>
<p><br></p>
<div><a href="http://www.imdt.com.br/" rel="external"><img class="alignnone" src="/web/20141126154627im_/https://dl.dropboxusercontent.com/u/9226799/iMDT_logo1.png" alt="" width="102" height="38"></a></div>
<div>iMDT is a professional services company in Brazil that contribute to development of red5 and has &nbsp;professionals with high-level skills on Red5 technology.</div>
<div>Learn More (<a href="http://www.imdt.com.br/" target="_blank" rel="external">http://www.imdt.com.br</a>)</div>