<h2>
  <a href="#" rel="bookmark" title="Red5 1.0.4 Released" class="news--link">Red5 1.0.4 Released</a>
</h2>

<p class="post-meta">
  <span>December 26, 2014 in <a href="/news" title="View all posts in News" rel="category tag">News</a></span>
</p>

<p>
  Several fixes are in this version as well as some restructuring of the project components themselves. This version series is also now available on the Sonatype repositories.
</p>

<p>
  Fixes to issues of note: 
</p>

<ul>
  <li>
    <a href="https://github.com/Red5/red5-server/issues/36" rel="external">#36</a> appShutdown not triggered
  </li>
  <li>
    <a href="https://github.com/Red5/red5-server/issues/38" rel="external">#38</a> FileConsumer queued write broken
  </li>
  <li>
    <a href="https://github.com/Red5/red5-server/issues/39" rel="external">#39</a> Red5.getConnectionLocal returns wrong connection
  </li>
  <li>
    <a href="https://github.com/Red5/red5-server/issues/40" rel="external">#40</a> Memory leak
  </li>
</ul>

<p>
  Demos are also now included in the tarball/zip as well as the project repository source
</p>

<p>
  This release can be found <a href="https://github.com/Red5/red5-server/releases/tag/v1.0.4-RELEASE" rel="external">here.</a>
</p>
