<h2>
  <a href="#" rel="bookmark" title="Paul Gregoire Returns to Infrared5!" class="news--link">Paul Gregoire Returns to Infrared5!</a>
</h2>

<p class="post-meta">
  <span>November 10, 2015 in <a href="/news" title="View all posts in News" rel="category tag">News</a></span>
</p>

<p>
  <a href="https://blog.red5pro.com/hes-baaaaaaack/" rel="external">
    <img src="https://d1inz2xpofm0ao.cloudfront.net/2016/Jan/http___blog_infrared5_com_wp_content_plugins_directory_2015_11_Screen_Shot_2015_11_10_at_4_11_15_PM1-1453395096612.png">
  </a>
  <p>This was originally posted to the Red5 Pro blog by Infrared5 - find the original <a href="https://blog.red5pro.com/hes-baaaaaaack/" rel="external">here</a></p>
</p>

<p>
  Why on earth would anyone choose to rejoin a company where they previously worked? In retrospect, the answer seems quite simple, though of course, taking the plunge is always a daunting task. I assume the statistics do not favor a return to a previous workplace after an extended hiatus, but I could certainly provide a plethora of reasons why I returned to Infrared5 when presented with the opportunity to do so. For me, and in any and all endeavors, the work has to be both intellectually stimulating and challenging. Software development can often be repetitive and monotonous, but fortunately that never was (and still isn’t) the case at Infrared5. Of near equal importance are the workmates that surround me; without a high quality, collaborative and generally pleasant team, even the most stimulating work can lose its shine.
</p>

<p>
  So to that end, here is a short checklist I used when making the decision:
</p>

<ul>
  <li>
    Do I enjoy my interactions with my teammates? Check!
  </li>
  <li>
    Do I have respect for them and their abilities? Check!
  </li>
  <li>
    Lastly, Infrared5 wanted to pay me to write code all day and work on Red5! Well that’s a no brainer–count me in!
  </li>
</ul>

<p>
  While working for another company, I had joined the Red5 Pro beta just after it was announced on Twitter. A “Pro” version or Red5 was something Dominick and I had chatted about on a few occasions back in the day–there may or may not have been beer involved. Despite the casual conversations, we both thought there could be immense long-term value in providing the Red5 community with what they were always asking for and talking about on the users list and social media. Providing the ability to stream from any device to any device has always interested me. Alas, I had the desire to turn intrigue into application by helping to create a software which could do just this. Red5 Pro offers Flash streaming, HLS streaming, and RTSP streaming; these technologies are still in-demand and are not interoperable on existing platforms, except on Red5 Pro.
</p>

<p>
  In the near future, the public can expect some major disruption on the streaming media front from Red5 Pro. It should come as no surprise to the community that we’re adding the new hotness of technology, WebRTC, to our existing stack. If this addition isn’t “For the Win,” I don’t know what is. I have no qualms about saying that the suite of tools which comprise Red5 Pro will help shape the future of the streaming market–and I couldn’t be happier with my decision to return.
</p>

<p>
  -Paul
</p>
