<h2>
  <a href="#" rel="bookmark" title="Red5 1.0.7 Pre-Release" class="news--link">Red5 1.0.7 Pre-Release</a>
</h2>

<p class="post-meta">
  <span>September 16, 2015 in <a href="/news" title="View all posts in News" rel="category tag">News</a></span>
</p>

<p>
This "snapshot" is not a standard "release" and will be updated until 1.0.7 is released.
</p>

<h4>
  Updates:
</h4>

<ul>
  <li>
    9/17: Fixed circular dependency in jee-container.xml file
  </li>
  <li>
    9/18: Added RTMP connection modifications to support lower level concurrency control
  </li>
  <li>
    10/7: Updated to include connection concurrency and deadlock fixes
  </li>
  <li>
    10/12: Fixed interoperabilty with AMS and switched stream ids to use double type
  </li>
</ul>

<p>
  The latest release can be found <a href="https://github.com/Red5/red5-server/releases" rel="external">here.</a>
</p>
