<h2>
  <a href="#" rel="bookmark" title="Red5 1.0.6 Released" class="news--link">Red5 1.0.6 Released</a>
</h2>

<p class="post-meta">
  <span>September 8, 2015 in <a href="/news" title="View all posts in News" rel="category tag">News</a></span>
</p>

<p>
  This release contains memory leak and threading fixes over previous 1.x versions. Tomcat has been updated to version 8.0.26 and the websocket plugin to version 1.2.
</p>

<p>
  The build artifacts have been compiled with JDK7.
</p>

<p>
  Releasing information will be posted <a href="https://github.com/Red5/red5-server/wiki/Release-Information">on the wiki</a> for reference.
</p>

<p>
  This release can be found <a href="https://github.com/Red5/red5-server/releases/tag/v1.0.6-RELEASE">here.</a>
</p>
